@use './variables' as *;

.container {
  max-width: 1920px;
  padding-inline: $padding-container-mobile;
  margin-inline: auto;
}

@media (min-width: $bp-tablet) {
  .container {
    padding-inline: $padding-container-desktop;
  }
}
