@use './typography' as *;

@mixin font(
  $size,
  $weight,
  $line-height,
  $letter-spacing: 0,
  $family: $font-primary
) {
  font-family: $family;
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
}

@mixin type-h2 {
  @include font(
    $type-h2-size,
    $type-h2-weight,
    $type-h2-line-height,
    $type-h2-letter-spacing
  );
}

@mixin type-p-md {
  @include font(
    $type-p-md-size,
    $type-p-md-weight,
    $type-p-md-line-height,
    $type-p-md-letter-spacing
  );
}

@mixin type-btn-md {
  @include font(
    $type-btn-md-size,
    $type-btn-md-weight,
    $type-btn-md-line-height,
    $type-btn-md-letter-spacing
  );
}

@mixin type-btn-sm {
  @include font(
    $type-btn-sm-size,
    $type-btn-sm-weight,
    $type-btn-sm-line-height,
    $type-btn-sm-letter-spacing
  );
}

@mixin type-nav {
  @include font(
    $type-nav-size,
    $type-nav-weight,
    $type-nav-line-height,
    $type-nav-letter-spacing
  );
}

@mixin type-info {
  @include font(
    $type-info-size,
    $type-info-weight,
    $type-info-line-height,
    $type-info-letter-spacing
  );
}