@use './typography' as *;

@mixin font(
  $size,
  $weight,
  $line-height,
  $letter-spacing: 0,
  $family: $font-primary
) {
  font-family: $family;
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
}

@mixin type-heading-2 {
  @include font(
    $type-heading-2-size,
    $type-heading-2-weight,
    $type-heading-2-line-height,
    $type-heading-2-letter-spacing
  );
}

@mixin type-paragraph-md {
  @include font(
    $type-paragraph-md-size,
    $type-paragraph-md-weight,
    $type-paragraph-md-line-height,
    $type-paragraph-md-letter-spacing
  );
}

@mixin type-button-md {
  @include font(
    $type-button-md-size,
    $type-button-md-weight,
    $type-button-md-line-height,
    $type-button-md-letter-spacing
  );
}

@mixin type-button-sm {
  @include font(
    $type-button-sm-size,
    $type-button-sm-weight,
    $type-button-sm-line-height,
    $type-button-sm-letter-spacing
  );
}

@mixin type-nav {
  @include font(
    $type-nav-size,
    $type-nav-weight,
    $type-nav-line-height,
    $type-nav-letter-spacing
  );
}

@mixin type-info {
  @include font(
    $type-info-size,
    $type-info-weight,
    $type-info-line-height,
    $type-info-letter-spacing
  );
}
