@use "./typography" as *;
@use "./variables" as *;

@mixin font(
  $size,
  $weight,
  $line-height,
  $letter-spacing: 0,
  $family: $font-primary
) {
  font-family: $family;
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
}

@mixin heading-base {
  color: $color-text-headings;
  text-transform: uppercase;
}

@mixin desktop-h2 {
  @include heading-base;
  @include font(
    $desktop-h2-size,
    $desktop-h2-weight,
    $desktop-h2-line-height,
    $desktop-h2-letter-spacing
  );
}

@mixin mobile-h1 {
  @include heading-base;
  @include font(
    $mobile-h1-size,
    $mobile-h1-weight,
    $mobile-h1-line-height,
    $mobile-h1-letter-spacing
  );
}

@mixin desktop-h4 {
  @include font(
    $desktop-h4-size,
    $desktop-h4-weight,
    $desktop-h4-line-height,
    $desktop-h4-letter-spacing
  );
  color: $color-text-main;
}

@mixin above-heading {
  @include font(
    $above-heading-size,
    $above-heading-weight,
    $above-heading-line-height,
    $above-heading-letter-spacing
  );
  color: $color-text-accent-secondary;
  text-transform: uppercase;
}

@mixin desktop-paragraph-m-bold {
  @include font(
    $desktop-paragraph-m-bold-size,
    $desktop-paragraph-m-bold-weight,
    $desktop-paragraph-m-bold-line-height,
    $desktop-paragraph-m-bold-letter-spacing
  );
  color: $color-text-main;
}

@mixin mobile-paragraph-m {
  @include font(
    $mobile-paragraph-m-size,
    $mobile-paragraph-m-weight,
    $mobile-paragraph-m-line-height,
    $mobile-paragraph-m-letter-spacing
  );
  color: $color-text-main;
}

@mixin desktop-button-m {
  @include font(
    $desktop-button-m-size,
    $desktop-button-m-weight,
    $desktop-button-m-line-height,
    $desktop-button-m-letter-spacing
  );
  color: $color-text-accent;
}

@mixin desktop-buttons-s {
  @include font(
    $desktop-buttons-s-size,
    $desktop-buttons-s-weight,
    $desktop-buttons-s-line-height,
    $desktop-buttons-s-letter-spacing
  );
  color: $color-text-main;
}

@mixin desktop-buttons-header {
  @include font(
    $desktop-buttons-header-size,
    $desktop-buttons-header-weight,
    $desktop-buttons-header-line-height,
    $desktop-buttons-header-letter-spacing
  );
  color: $color-button-secondary-text;
}

@mixin info {
  @include font(
    $info-size,
    $info-weight,
    $info-line-height,
    $info-letter-spacing
  );
  color: $color-button-secondary-text;
}
