$font-primary: 'Lexend Deca', sans-serif;

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;

// $lh-heading: 1.2;
// $lh-body: 1.5;


// ======================
// DESKTOP
// ======================

$h1: 74px;
$h2: 64px;
$h3: 38px;
$h4: 32px;
$h5: 24px;
$h6: 22px;

$text-lg: 28px;
$text-md: 18px;
$text-sm: 16px;
$text-xs: 14px;


// ======================
// MOBILE
// ======================

$h1-m: 34px;
$h2-m: 32px;
$h3-m: 26px;
$h4-m: 20px;
$h5-m: 18px;
$h6-m: 16px;

$text-lg-m: 18px;
$text-md-m: 16px;
$text-sm-m: 16px;
$text-xs-m: 14px;