@use "../../app/styles/mixins.scss" as *;
@use "../../app/styles/typography.scss" as *;
@use "../../app/styles/variables.scss" as *;

.footer {
  width: 100%;
  border-top: 0.8px solid $color-bg-main;
  background-color: $color-bg-section;
  padding-bottom: 24px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.logo {
  display: block;
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.navList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;
}

.navList a {
  @include font($fs-text-sm-mobile, $fw-regular, 24px);
  color: $color-text-main;
  text-decoration: none;
  transition: color 0.2s ease;
}

.navList a:hover,
.navList a:focus-visible {
  color: $color-text-accent;
}

.socialList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.socialLink {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border: 1px solid $color-stroke-secondary;
  border-radius: $radius-pill;
  color: $color-text-main;
  text-decoration: none;
  transition:
    border-color 0.2s ease,
    color 0.2s ease,
    background-color 0.2s ease;
}

.socialLink:hover,
.socialLink:focus-visible {
  border-color: $color-stroke-accent;
  background-color: $color-bg-accent-dark;
  color: $color-text-accent;
  outline: none;
}

.privacyLink {
  @include font(12px, $fw-regular, 18px);
  color: $color-text-secondary;
  text-decoration: none;
  transition: color 0.2s ease;
}

.privacyLink:hover,
.privacyLink:focus-visible {
  color: $color-text-accent;
}

@media (min-width: $bp-desktop) {
  .wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 108px;
  }

  .logo {
    width: 74px;
    height: 74px;
  }

  .nav {
    justify-self: start;
  }

  .navList {
    justify-content: flex-start;
  }

  .navList a {
    @include font($fs-text-md, $fw-regular, $lh-paragraph-md);
  }

  .socialList {
    justify-self: end;
  }

  .privacyLink {
    display: inline-block;
    width: 100%;
    text-align: center;
  }
}
