@use '../../../app/styles/variables.scss' as *;

.container {
    width: 100%;
    padding-inline: $padding-container-mobile;
}

@media (min-width: $bp-desktop){
    .container {
        padding-inline: $padding-container-desktop;
    }
}